*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties

app/class_files.txt
app/mapping.txt
app/seeds.txt
app/unused.txt

*.iml
*.ipr
*.iws
.gradle/**
build/**
.idea/**

.project
.metadata
.gradle
build/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

.externalToolBuilders/

*.launch

.cproject

.buildpath
